<div class="row">
  <div class="col-sm-3 my-3">
    <img
      [src]="user.profile_image"
      class="img-thumbnail rounded-circle img-fluid"
      alt="Profile Image"
    />
  </div>
  <div class="col-sm-8 my-auto mx-2">
    <p class="fs-1 fw-bold text-success">
      {{ user.name ? user.name : "Null" }}
    </p>
    <p class="text">{{ user.bio ? user.bio : "Null" }}</p>
    <i class="fa-li fa fa-check-square"></i>
    <p class="text">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-geo-alt-fill mx-1"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
        />
      </svg>
      {{ user.location ? user.location : "Null" }}
    </p>
    <p class="text">Twitter: {{ user.twitter_link }}</p>
  </div>
</div>
<p class="text">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-link mx-2"
    viewBox="0 0 16 16"
  >
    <path
      d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
    />
    <path
      d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"
    /></svg
  >{{ user.github_link }}
</p>
